*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ccc;
}

.box{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    position: absolute;
}